{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
    <!--formulario para edicion de predios-->
        <div class="container">
            <div class="row justify-content-center">
                <h3>Editar predio</h3>
              <form class="col-md-8 g-3" method="POST" autocomplete="off">
                {% csrf_token %}
                {% for form in forms %}
                  <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">{{ form.label }}</label>
                    {{form}}
                  </div>
                  {{form.errors}}
                {% endfor %}
                <div class="col-12 mt-3">
                  <button type="submit" class="btn btn-success">Actualizar</button>
                  <a href="{% url 'index' %}" class="btn btn-secondary" role="button">Cancelar</a>
                </div>
              </form>
            </div>
         </div>
          <!--fin del formulario-->
{% endblock %}