{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<!--inicio del alert-->
    {% if request.GET.mensaje %}
  <div class="alert alert-success alert-dismissible fade show m-4" role="alert" id="autoCloseAlert">
    {{ request.GET.mensaje }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <script>
    setTimeout(function() {
      document.getElementById('autoCloseAlert').style.display = 'none';
    }, 3000);
  </script>
{% endif %}
<!--fin del alert-->

    <!--cards dinamicas-->
    <div class="row justify-content-center m-4">
      {% if predios %}
    {% for p in predios%}
    
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 ">
      <div class="card mb-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Nombre Predio: {{p.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Numero Matricula: {{p.numeroMatricula}}</h6>
          <p class="card-text">Numero Catastral: {{p.numeroCatastral}}<br>Tipo: {{p.tipo}}<br>
            Propietario: {% for propietario in p.propietarios.all %}
            {{ propietario.nombrePropietario }}
          {% endfor %}
        </p>
        {% if 'predio.delete_propietario' in request.user.get_all_permissions %}
            <button href="#" class="btn btn-danger" onclick="confirmarEliminacion('{{ p.id }}', '{{ p.nombre }}')">Eliminar</button>
        {% endif %}
          <br>
          <br>
          {% if 'predio.change_propietario' in request.user.get_all_permissions %}
          <form action="">
            {% csrf_token %}
            <a href="{% url 'edit_predio' p.id %}" class="btn btn-success">Editar</a>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
      {% else %}
       <h1>No Hay Predios Registrados <br> <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Registra Uno Aqui</a></h1>
    {% endif %}
    
    </div>
    <script>
      function confirmarEliminacion(predioId, predioNombre) {
          Swal.fire({
              title: '¿Estás seguro?',
              text: `¿Quieres eliminar el predio "${predioNombre}"?`,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Sí, eliminar',
              cancelButtonText: 'Cancelar'
          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = "{% url 'delete_predio' 0 %}".replace('0', predioId);
              }
          });
      }
  </script>
  <!--fin de cards dinamicas-->
{% endblock %}