{% extends 'base.html' %}
{% load static %}
{% block content %}    
<br><br> 

        <!--inicio del alert-->
     {% if mensaje %}
     <div class="alert alert-success alert-dismissible fade show m-4" role="alert" id="autoCloseAlert">
       {{ mensaje }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     <script>
    setTimeout(function() {
      document.getElementById('autoCloseAlert').style.display = 'none';
    }, 3000);
  </script>
   {% endif %}
   <!--fin del alert-->

   {% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
    <strong>Error:</strong> Por favor, corrige los siguientes errores.
    <ul>
      {% for error in form.errors.items %}
        <li>{{ error }}</li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
    </ul>
  </div>
    {% endif %}

          <!--formulario para propietarios-->
      <div class="container">
          <div class="row justify-content-center">
              <h3>Registrar Propietario</h3>
              <form class="col-md-8 g-3" action="{% url 'create_propietario' %}" method="POST" autocomplete="off" id="myForm">
                  {% csrf_token %}

                  <div>
                      <label for="inputEmail4" class="form-label">Nombre Propietario</label>
                      <input type="text" name="nombrePropietario" value="" class="form-control" id="nombre-input" placeholder="">
                      <div id="nombrePropietario-errors"></div>
                  </div><br>
                  <div>
                      <select class="form-select" aria-label="Default select example" name="tipoPropietario">
                          <option selected disabled>Tipo Propietario</option>
                          <option value="1">Natural</option>
                          <option value="2">Juridico</option>
                      </select>
                      <div id="tipoPropietario-errors"></div>
                  </div><br>
                  <div>
                      <label for="inputEmail4" class="form-label">Numero Documento</label>
                      <input type="text" name="numeroDocumento" value="" class="form-control" id="numero-input" placeholder="">
                      <div id="numeroDocumento-errors"></div>
                  </div>
                  <div><br>
                      <select class="form-select" aria-label="Default select example" name="tipoDocumento">
                          <option selected disabled>Tipo Documento</option>
                          <option value="1">Cedula De Ciudadania</option>
                          <option value="3">Cedula De Extranjeria</option>
                          <option value="2">Tarjeta De Identidad</option>
                          <option value="4">Numero De Identificacion Tributaria</option>
                      </select>
                      <div id="tipoDocumento-errors"></div>
                  </div>
                  <div class="col-12 mt-4">
                      <button type="submit" class="btn btn-success">Registrar</button>
                      <a href="{% url 'ver_propietarios' %}" class="btn btn-secondary" role="button">Cancelar</a>
                  </div>
              </form>
          </div>
      </div>
      <!--fin del formulario-->
{% endblock %}
    
